.error {
    border-color: red;
}

.cell {
    width: 25px;
    height: 25px;
    border: 1px solid gray;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.mark {
    background-color: yellow;
}